.shop_top{
	padding:5% 0;
}

.team_bottom{
    margin-bottom:20px;
}

ul.team_list{
	padding:0;
	list-style:none;
}
ul.team_list h4{
	color: #555;
	margin-bottom: 20px;
	font-size: 1.5em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
ul.team_list li {
	list-style-image: url('/assets/images/marker.png');
	margin: 0 0px 20px 15px;
}
ul.team_list li a {
	font-size: 0.85em;
	color: #222;
	text-transform: uppercase;
	text-decoration:none;
}
ul.team_list li a:hover {
	color:#444;
}
ul.team_list li p{
	color:#888;
	font-size:0.85em;
	line-height:1.5em;
}