<div class="main">
    <div class="shop_top">
      <div class="container">
          <app-team-list spacingTop="0px"></app-team-list>
          <div class="row" @teamBottomAnimation>
              <div class="col-md-4 team-left team_bottom">
                <ul class="team_list advantages-list" >
                  <h4>Why work with us</h4>
                  <li @advantageAnimation><span>Best prices</span><p>We eliminate unnecessary expenses to provide you with best prices in the region.</p></li>
                  <li @advantageAnimation><span>Eco friendly</span><p>Production is made with ecologic and recyclable materials. You can also trade in and old Samsung phone which we recycle, and buy a new one with discounted price. </p></li>
                  <li @advantageAnimation><span>3 Year Warranty</span><p>Buying our products you receive 3 year warranty, with option to extend it to 5 years if you have Premium Membership.</p></li>
                  <li @advantageAnimation><span>Best customer support</span><p>Our customer support consists of people with technology education and experience with hardware.</p></li>
                </ul>
              </div>
              <div id="team-right" class="col-md-8">
                  <ul class="team_list">
                   <h4>Our Vision</h4>
                   <p class="m_7">We strive to provide our customers with best products for the value. We constantly try to improve our products with minimal cost to production. Our goal is to make advancements in technology which will make people's lives easier.</p>
                   <img src="/assets/images/team5.jpg" class="img-fluid w-100" alt=""/>
                </ul>
              </div>
          </div>
      </div>
    </div>
</div>