<div class="main">
    <div class="shop_top">
      <div class="container">
          <app-team-list spacingTop="0px"></app-team-list>
          <div class="row" @teamBottomAnimation>
              <div class="col-md-4 team-left team_bottom">
                <ul class="team_list advantages-list" >
                  <h4>Advantages</h4>
                  <li @advantageAnimation><span>Always free from repetition</span><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p></li>
                  <li @advantageAnimation><span>Always free from repetition</span><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p></li>
                  <li @advantageAnimation><span>Always free from repetition</span><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p></li>
                  <li @advantageAnimation><span>Always free from repetition</span><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p></li>
                </ul>
              </div>
              <div id="team-right" class="col-md-8">
                  <ul class="team_list">
                   <h4>Vision Statement</h4>
                   <p class="m_7">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                   <img src="/assets/images/team5.jpg" class="img-fluid w-100" alt=""/>
                </ul>
              </div>
          </div>
      </div>
    </div>
</div>