.single_image{
	width:36.5%;
	float: left;
	margin-right: 2.6%;
}
.single_right{
	width: 60.5%;
	float: left;
}
.single_right h3{
	color: #222;
	font-size: 1.1em;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: 700;
}
.btn1-default1 {
	outline: none;
	border: 1px solid #CACACA;
	background: #FFF;
	padding: 5px 10px;
	font-size: 0.85em;
}
.btn1-twitter:hover {
	color: #FFF;
	background-color: #00AAF0;
}
i.icon-twitter{
	height: 20px;
	width: 20px;
	background: url(/assets/images/img-sprite.png)no-repeat -260px -318px;
	float: left;
	margin-right: 2px;
}
.btn1-twitter:hover i{
	background: url(/assets/images/img-sprite.png)no-repeat -260px -341px;
}
i.icon-facebook{
	height: 20px;
	width: 20px;
	background: url(/assets/images/img-sprite.png)no-repeat -292px -317px;
	float: left;
	margin-right: 2px;
}
.btn1-facebook:hover i{
	background: url(/assets/images/img-sprite.png)no-repeat -292px -341px;
}
.btn1-facebook:hover {
	color: #FFF;
	background-color:#435F9F;
}
i.icon-google{
	height: 20px;
	width: 20px;
	background: url(/assets/images/img-sprite.png)no-repeat -321px -317px;
	float: left;
	margin-right: 2px;
}
.btn1-google:hover i{
	background: url(/assets/images/img-sprite.png)no-repeat -321px -341px;
}
.btn1-google:hover {
	color: #FFF;
	background-color:#E04B34;
}
i.icon-pinterest{
	height: 20px;
	width: 20px;
	background: url(/assets/images/img-sprite.png)no-repeat -353px -318px;
	float: left;
	margin-right: 2px;
}
.btn1-pinterest:hover i{
	background: url(/assets/images/img-sprite.png)no-repeat -353px -342px;
}
.btn1-pinterest:hover {
	color: #FFF;
	background-color:#CE1F21;
}
.social_buttons h4{
	color: #08080B;
	font-weight: 700;
	font-size: 0.8125em;
	padding-bottom: 0.5em;
	display: block;
	text-transform:uppercase;
	margin-bottom:5px;
}
p.m_10{
	color: #333;
	font-size: 0.8125em;
	line-height: 1.8em;
	margin-bottom:5%;
}
.btn_form{
	margin-bottom:5%;
}
.btn_form form input[type="submit"] {
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	font-size: 0.85em;
	padding: 10px 30px;
	background: #333;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn_form form input[type="submit"]:hover {
	background: #FFAF02;
}
ul.add-to-links {
	margin-bottom: 3%;
	list-style: none;
	padding: 0;
}
ul.add-to-links img {
	vertical-align: middle;
}
ul.add-to-links a {
	color: #000;
	font-size: 0.85em;
}
ul.product-colors{
	list-style:none;
	padding:0;
	margin-bottom: 5%;
}
.product-colors h3, .prosuct-qty span {
	color: #08080B;
	font-weight: 700;
	font-size: 0.8125em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.product-colors li {
	display: inline-block;
}
.product-colors li a span {
	width: 32px;
	height: 32px;
	display: inline-block;
}
.color1 span {
	background:#45BF55;
}
.color2 span {
	background:#0AA5E2;
}
.color3 span {
	background:#EE82EE;
}
.color4 span {
	background:orange;
}
.color4 span {
	background:gray;
}
.color5 span {
	background:yellow;
}
.color6 span {
	background:red;
}
.box-info-product{
	background: #FFF;
	border: 1px solid #D2D0D0;
	border-top: 1px solid #B0AFAF;
	border-bottom: 1px solid #B0AFAF;
	padding:7%;
}
p.price2{
	color:#333;
	font-size:2em;
	font-weight:700;
	margin-bottom: 5%;
}
.prosuct-qty {
	margin-bottom: 1.5em;
	padding:0;
}
.prosuct-qty select {
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #EEE;
	padding: 5% 41%;
	font-size: 1em;
	outline: none;
}
.prosuct-qty option {
	border: 1px solid #EEE;
	font-family: 'Open Sans', sans-serif;
}
.box-info-product .exclusive {
	border:none;
	outline: none;
	position: relative;
	display: block;
	background:#E25050;
}
.box-info-product .exclusive span {
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	padding: 12px 36px 14px 60px;
	color: #FFF;
	display: block !important;
}
.box-info-product .exclusive:after {
	border-left: 1px solid #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 51px;
	content: "";
	width: 1px;
	z-index: 2;
}
.box-info-product .exclusive:before {
	background: url(/assets/images/img-sprite.png)no-repeat -401px -308px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	color: #FFF;
	font-size: 25px;
	line-height: 47px;
	content: "";
	z-index: 2;
	width: 51px;
	text-align: center;
}
.box-info-product .exclusive:hover {
	background: #303030;
	background-position: 0 0;
}
.desc{
	margin-bottom:5%;
}
.desc h4{
	color:#333;
	font-size:1.5em;
	margin-bottom:1%;
	text-transform:uppercase;
}
.desc p{
	color:#555;
	font-size:0.85em;
	line-height:1.8em;
}
h4.m_11{
	color:#333;
	font-size:1.2em;
	text-transform:uppercase;
	padding:0 1%;
	margin-bottom:2%;
}
h4.m_12{
	color: #08080B;
	font-weight: 700;
	font-size: 0.8125em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;
}
ul.options{
	list-style:none;
	padding:0;
	margin-bottom:7%;
}
ul.options li {
	margin: 0 1% 0 0;
	display: inline-block;
}
ul.options li a {
	color: #000;
	font-size: 0.8125em;
	padding: 5px 10px;
	border: 1px solid #DFDDDD;
	text-decoration:none;
}
ul.options li a:hover {
	border: 1px solid #FFAF02;
}