.products-container{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    flex-wrap: wrap;
}

.product{
    margin: 40px;
}

.product p{
	color: #000;
	font-size: 0.95em;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	margin-bottom:1%;
}
.title{
    font-size: 20px !important;
    margin: 20px 0px;
}

ul{    
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

li:first-child{
    margin-right: 10px;
    font-size: 18px;
}

li{
    display: inline-block;
}

.colorSquare{
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 10px;
}