<div class="products-container" 
    [ngStyle]="{ 'justify-content' : flexAlignement, 'padding-top': topSpacing}">
    <div class="product" *ngFor="let product of products">

        <img src="{{ product.image }}"/>
        <p class="title"> {{ product.name }}</p>
        <ul *ngIf="displayColors">
            <li>Colors</li>
            <li *ngFor="let color of product.colors"><span class="colorSquare" [ngStyle]="{'background-color' : color.value}"></span></li>
        </ul>
        <a class="main-btn" href="">View info</a>
    </div>
</div>