<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                  <div class="map">
                    <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px"></a></small>
                  </div>
                </div>
                <div class="col-md-5">
                    <p class="m_8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
                    <div class="address">
                                <p>500 Lorem Ipsum Dolor Sit,</p>
                                   <p>22-56-2-9 Sit Amet, Lorem,</p>
                                   <p>USA</p>
                           <p>Phone:(00) 222 666 444</p>
                           <p>Fax: (000) 000 00 00 0</p>
                          <p>Email: <span>support[at]snow.com</span></p>
                           <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 contact">
                  <form [formGroup]="contactForm" (ngSubmit)="contactSubmit()">
                    <div class="to">
                         <input formControlName="name"
                              type="text" class="text" placeholder="Name">
                          <span class="error" *ngIf="!contactForm.get('name')?.valid && contactForm.get('name')?.touched">Name is required.</span>

                         <input formControlName="email"
                              type="text" class="text" placeholder="Email">
                          <div *ngIf="!email?.valid && (email?.touched || email?.dirty)">
                            <span class="error" *ngIf="email?.errors!['email']">Email is not in a good format.</span>
                            <span class="error" *ngIf="email?.errors!['required']">Email is required.</span>
                          </div>
                          
                         <input formControlName="subject"
                              type="text" class="text" placeholder="Subject">
                          <div class="error" *ngIf="!subject?.valid && (subject?.touched || subject?.dirty)">Subject is required.</div>
                    </div>
                    <div class="text">
                       <textarea formControlName="message" placeholder="Message">Message:</textarea>
                       <div class="error" *ngIf="!message?.valid && (message?.touched || message?.dirty)">
                        <span class="error" *ngIf="message?.errors!['required']">Message is required.</span>
                        <span class="error" *ngIf="message?.errors!['messageTooLong']">Message needs to be 100 characters or less.</span>
                       </div>

                       <div class="form-submit">
                       <input name="submit" type="submit" id="submit" value="Submit"><br>
                       </div>
                    </div>
                    <div class="clear"></div>
                   </form>
                 </div>
            </div>
         </div>
    </div>
</div>