.shop_top{
	padding:5% 0;
}

.contact{
	margin-top: 5%;
}
.to{
	float:left;
	width:50%;
}
.to input[type="text"] {
	padding: 10px;
	width:95%;
	font-size: 0.85em;
	font-family: 'Open Sans', sans-serif;
	margin: 10px 0;
	border: none;
	color: #888;
	background:#F8F8F8;
	float: left;
	outline: none;
	border:1px solid #DFE0E2;
}
.to input[type="text"]:hover, .text input[type="text"], .text textarea:hover{
	border-color:#E25050;
}
.text {
	width:50%;
	float:left;
}
.text input[type="text"], .text textarea {
	width:100%;
	font-size: 0.85em;
	margin: 10px 0;
	border: none;
	color: #888;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	background:#F8F8F8;
	height: 100px;
	padding: 10px;
	resize: none;
	border:1px solid #DFE0E2;
}
.form-submit{
	float:right;
}
.form-submit input[type="submit"] {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.95em;
	font-weight: normal;
	padding:15px 40px;
	text-transform: uppercase;
	background:#E25050;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight: 100;
	border: none;
	cursor: pointer;
	outline:none;
}
.form-submit input[type="submit"]:hover {
	background:#333;
}
p.m_8{
    font-family: 'Open Sans';
	color:#333;
	font-size:0.85em;
	line-height:1.8em;
	margin-bottom:5%;
}
.address p {
    font-family: 'Open Sans';
	font-size:0.85em;
	line-height:2em;
    margin: 0px;
}
.address p span:hover {
	text-decoration: none;
}
.address p span {
	text-decoration: underline;
	color: #555;
	cursor: pointer;
}